@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-primaria: #f2fff6;
    --cor-secundaria: #000;
    --cor-terciaria: #6c727f;
    --cor-quaternaria: #55b685;
    --cor-quintenaria: #fff;  
    
    --fonte-primaria: 'Inter', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    padding: 1.75rem;
    font-family: var(--fonte-primaria);
}
.cabecalho {
    padding: 2% 15%;
    display: flex;
    justify-content: space-between;
}

.cabecalho__logo {
    display: flex;
    justify-content: flex-start;
}


.cabecalho__link {
    padding-inline: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    font-weight: 400;
    color: var(--cor-quaternaria);
    font-size: 2rem;
    gap: 2rem;
}

.cabecalho__fone {
    width: 2rem;
    height: 2rem;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    
}

.apresentacao__conteudo__pretexto {
    width: 11.75rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--cor-quaternaria);
    border-radius: 2rem;
    justify-content: center;
    font-size: 11.55px;
    color: var(--cor-primaria);

}

.apresentacao__conteudo__titulo {
    width: 50%;
    font-size: 3rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    padding: 1rem;
}

.apresentacao__conteudo__texto {
    width: 34.375rem;
    font-size: 1.63rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}

.apresentacao__links {
    width: 50%;
    padding: 1.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    column-gap: 1.25rem;
    gap: 2rem;
    
}

.apresentacao__links__texto {
    width: 9rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--cor-quintenaria);
    border-radius: 2rem;
    border: 1px solid var(--cor-terciaria);
    justify-content: center;
    font-size: 1rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao__imagem {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    background-position: center;
    align-items: center;
    background-size: cover;
    border-radius: 5%;
}

.apresentacao__valores {
    width: auto;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}  

.apresentacao__valores__numeros {
    color: var(--cor-quaternaria);
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.apresentacao__valores__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    align-items: center;
}

.rodape {
    padding: 2% 15%;
    display: flex;
    justify-content: flex-end;
    align-items: left;
}
@media (max-width: 1200px) {
    .cabecalho {
        padding: 2% 5%;
    }
    .apresentacao {
        padding: 5% 5%;
        flex-direction: column;
        gap: 2rem;
    }
    .apresentacao__conteudo {
        width: 100%;
    }
    .apresentacao__conteudo__titulo {
        width: 100%;
    }
    .apresentacao__conteudo__texto {
        width: 100%;
    }
    .apresentacao__links {
        width: 100%;
    }
    .apresentacao__imagem {
        width: 100%;
    }
    .apresentacao__valores {
        padding: 0 5%;
        font-size: 1rem;
    }
    .rodape {
        padding: 2% 5%;
    }
}
